*{  margin: 0px;  padding: 0px; box-sizing: border-box;}
nav{ background-color: black; padding: 1px ;}
nav .logo{ position: absolute;  margin: 18px 50px;  font-size: 30px; text-decoration: none;color: white; }
.name{ color:rgb(0, 255, 115);;}
.name:hover{color:rgb(0, 255, 115);;}
nav .logo:hover{ text-decoration: none;}
nav ul{ text-align: center;  margin: 30px ;  }
nav ul li{ display: inline-block;  margin: 0px 30px; text-decoration: none;}
nav ul li a{ color: white;}
nav ul li a:hover{ text-decoration: none; color:rgb(0, 255, 115);;}
.icon{  margin-left: 1200px; margin-top: -25px; font-size: 22px;}
nav ul .icon{ letter-spacing: -20px;}
.icon li a{  color:rgb(0, 255, 115);; } 

/* *********************************** start header ************************************************** */
header{ background-color: black; height: 600px;}
header .text-header{ width: 500px; position: absolute; margin: 100px 50px;}
header .text-header h1{ font-size: 80px; color: white;}
header .text-header span{ font-size: 35px; color: rgb(0, 255, 115);}
header .text-header p{ color: white; margin-bottom: 20px;}
header .text-header button{ padding: 10px 30px; color: white; background-color:rgb(0, 255, 115);; border: none; border-radius: 10px;}
.photo-header{ width: 650px; height: 550px; background: url('../img/header.png') no-repeat; background-size: cover; float: right; margin-top: 50px;}

/* *********************************** start section About **************************************** */
.About{ padding: 80px 0; background-color: rgb(11, 11, 11);}
.About .photo-About{ width: 400px ; height: 300px; background: url('../img/About.jpg') no-repeat; background-size: cover;} 
.About .text-About{ width: 500px; margin-left: 500px; margin-top: -300px;}
.About .text-About h2{ font-size: 50px; color:white;}
.About .text-About p{ color: white; margin-bottom: 30px;}
.About .text-About button{ padding: 10px 30px; color: white; background-color:rgb(0, 255, 115);; border: none; border-radius: 10px; }

/* ********************************** start section Skills ************************************** */
.Skills{ padding: 80px 0; background-color: black;}
.Skills h2{ font-size: 50px; color: white;}
.Skills p{ color: white; margin-bottom: 80px;}
#mmm h5{color: white; }
#mmm #skills{ float: right; color: white; font-size: 20px; margin-top: -33px; margin-right: 30px; color: rgb(0, 255, 115);}

.one .line{ margin-top: 10px; width: 500px; height: 20px; border: 2px solid white; border-radius: 10px;}
.one .line-e{ width: 450px; height: 17px; background-color: rgb(0, 255, 115);border-radius: 10px;}

.two{ margin-top: 60px;}
.two .line{ margin-top: 10px; width: 500px; height: 20px; border: 2px solid white; border-radius: 10px;}
.two .line-e{ width: 400px; height: 17px; background-color: rgb(0, 255, 115);border-radius: 10px;}

.three{ margin-top: 60px;}
.three .line{ margin-top: 10px; width: 500px; height: 20px; border: 2px solid white; border-radius: 10px;}
.three .line-e{ width: 470px; height: 17px; background-color: rgb(0, 255, 115);border-radius: 10px;}

/* ****** */
#mm{ margin-top: -60px; }
#mm h5{color: white; }
#mm #skills{ float: right; color: white; font-size: 20px; margin-top: -33px; margin-right: 30px; color: rgb(0, 255, 115);}

.four{ margin-top: 60px;}
.four .line{ margin-top: 10px; width: 500px; height: 20px; border: 2px solid white; border-radius: 10px;}
.four .line-e{ width: 350px; height: 17px; background-color: rgb(0, 255, 115);border-radius: 10px;}

.five{ margin-top: 60px;}
.five .line{ margin-top: 10px; width: 500px; height: 20px; border: 2px solid white; border-radius: 10px;}
.five .line-e{ width: 300px; height: 17px; background-color: rgb(0, 255, 115);border-radius: 10px;}

.six{ margin-top: 60px;}
.six .line{ margin-top: 10px; width: 500px; height: 20px; border: 2px solid white; border-radius: 10px;}
.six .line-e{ width: 490px; height: 17px; background-color: rgb(0, 255, 115);border-radius: 10px;}

/* ********************** start section projects **************************************************** */
.Projects{ padding: 80px 0; background-color: rgb(11, 11, 11);}
.Projects h2{ color: white; font-size: 50px;}
.Projects p{ color: white;}

.proj1{ width: 520px; height: 420px; background-color: rgb(35, 35, 35); margin-bottom: 40px; padding: 10px;}
.proj2{ width: 520px; height: 420px; background-color: rgb(35, 35, 35); margin-bottom: 40px; padding: 10px;}
.proj3{ width: 520px; height: 420px; background-color: rgb(35, 35, 35); padding: 10px;}
.proj4{ width: 520px; height: 420px; background-color: rgb(35, 35, 35); padding: 10px;}

.photo1{ width: 500px; height: 400px; background: url('../img/المشروع\ ال\ 100.png') no-repeat; background-size: cover;}
.photo2{ width: 500px; height: 400px; background: url('../img/المشروع\ ال\ 100.png') no-repeat; background-size: cover;}
.photo3{ width: 500px; height: 400px; background: url('../img/المشروع\ ال\ 100.png') no-repeat; background-size: cover;}
.photo4{ width: 500px; height: 400px; background: url('../img/المشروع\ ال\ 100.png') no-repeat; background-size: cover;}

/* ******************** start section Contact ******************************************************* */
.Contact{ padding: 80px 0; background-color: black;}
.Contact h2{ font-size: 50px; color: white;}
.Contact p{ color: white; margin-bottom: 80px;}
input{ padding: 6px 30px; border-radius: 5px; background-color: rgb(35, 35, 35); border: none; }
.qq{ margin: 5px 18px;}
.uu{ background-color: rgb(35, 35, 35); margin: 10px 15px;border: none; padding: 6px 25px; }
#cont h4{ color: white;  }
#cont a{ display: block; margin: 15px; font-size: 25px; width: 35px; padding: 0px 5px; background-color: rgb(0, 255, 115); text-decoration: none; color: white;}
.iconn{ margin-left: 20px ; margin-top: -5px; position: absolute;}